- if flash.any?
  - if !flash.alert.blank?
    .alert.alert-error
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
  - else
    .alert.alert-block
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
%h1 Log in
= simple_form_for sessions_path(@user) do |f|
  = f.input :name, label: "Name/Email", autofocus: true
  = f.input :password, label: "Password"
  = f.button :submit, "Log In", class: "btn btn-primary"