.span3
  = render partial: "tip_content"
.span5
  %h2
    = @course.name
  .code_input
    = render "code_input"
.span3
  %h2 Result
  .result
    = text_area :result, :text
:javascript
  $(document).ready(function(){
    var tour = {
      id: "tour_of_course",
      steps: [
        {
          title: "The Content Of This Course",
          content: "Please follow the commands in it.",
          target: $(".sidebar-nav")[0],
          placement: "right"
        },
        {
          title: "Code Input Box",
          content: "You can enter the commands left in it.Press 'enter' key to see the result.",
          target: $(".code_input")[0],
          placement: "left"
        },
        {
          title: "Shortcut Keys",
          content: "Alt-L: Clear the textarea<br />Ctrl-Z: Undo<br />Ctrl-Shift-Z: Redo<br />Arrow Down: Next command<br />Arrow UP: Previous command",
          target: $(".shortcut_keys_tips")[0],
          placement: "top",
          xOffset: "-270",
          arrowOffset: "270"
        }
      ]
    };

    // Start the tour!
    if("#{current_user.login_count}" == "1"){
      hopscotch.startTour(tour);
    }
  })